body {
    color: rgb(228, 148, 0);
    background-color: rgb(13, 19, 32);
    font-family: 'Source Code Pro', monospace;
}

main {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

h1 {
    border: 15px dotted rgb(228, 148, 0);
    padding: 30px 80px;
    text-shadow: 0 0 10px rgb(249, 249, 164), 0 0 30px white;

}
